body {
  background-image: url("http://images2.fanpop.com/images/photos/7600000/Hogwarts-Castle-hogwarts-7684945-1024-768.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#titulo {
  float: center;
  display: flex;
  justify-content: center;
  font-family: Redressed;
  color: #FFFFFF;
  margin-left: 0px;
  font-size: 31px;
}

.navbar {
  justify-content: block;
  overflow: hidden;
  background-color:transparent;
  display: flex;
  justify-content: space-around;
  float: flex; 
}

.dropdown {
  float: left;
  overflow: hidden;
  justify-content: center;
}

.dropdown .dropbtn {
  font-size: 40px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;  
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(17, 17, 73);
}

.dropdown-content {
  display: none; 
  position: absolute;
  background-color: rgb(16, 16, 41) ;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 20);
  z-index: 1;
}

.dropdown-content button {
  float: none;
  color: rgb(247, 235, 235);
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  background-color: rgb(16, 16, 41);
  font-size: 20px;
  border: transparent;
}

.dropdown-content button:hover {
  background-color: rgb(31, 31, 34);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap ;  
}

.caja{
  
  background-color: rgb(2, 2, 32); 
  border: rgb(244, 244, 245) 1px solid;
  opacity: 0.9;
  width: 20%;
 }

.imagenes{
  display: flex;
  height: 220px; 
  margin: auto;
  max-width: 180px;
}

.descripcion{
  text-align: left;
  margin-left: 10%;
  display: flex;
  color: white;
  word-wrap: wrap;
  justify-content: space-around;
}
    
@media only screen and (max-width:800px) {
  /* For tablets: */
  .navbar {
    width: 80%;
    padding: 0;
    display: flex;
    flex-direction: column;

  }
  .container {
    width: 100%;
    justify-content: flex-end;
    margin-top: -47%;
  }
  .caja {
    width: 25%;
  }
}

@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .navbar {
    width: 80%;
    padding: 0;
    display: flex;
    flex-direction: column;

  }
  .imagenes{
  display: flex;
  height: 97px; 
  margin: auto;
  max-width: 95px;
  }
  .container {
   width: 93%;
    justify-content: flex-end;
    margin-top: -56%;
  }
  .caja {
    width: 25%;
  }
  #titulo {
    float: center;
    display: flex;
    justify-content: center;
    font-family: Redressed;
    color: #FFFFFF;
    margin-left: 0px;
    font-size: 16px;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
    justify-content: center;
  }
  
  .dropdown .dropbtn {
    font-size: 150%;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;  
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(17, 17, 73);
  }
  
  .dropdown-content {
    display: none; 
    position: absolute;
    background-color: rgb(16, 16, 41) ;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 20);
    z-index: 1;
  }
  
  .dropdown-content button {
    float: none;
    color: rgb(247, 235, 235);
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color: rgb(16, 16, 41);
    font-size: 20px;
    border: transparent;
  }
  
  .dropdown-content button:hover {
    background-color: rgb(31, 31, 34);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
}